<!DOCTYPE html>
<html lang="en">

  <head th:replace="/fragments/head :: head"></head>

<body>
  <section id="container">
        <div th:replace="/fragments/header :: header"></div>
        <div th:replace="/fragments/aside :: aside"></div>

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Courses</h3>
         <!-- row -->
         <div class="row mt">
            <div class="col-md-12">
              <div class="content-panel">
                <table class="table table-striped table-advance table-hover">
                  <h4><i class="fa fa-angle-right"></i> Course Table</h4>
                  <hr>
                  <thead>
                    <tr>
                      <th># Id</th>
                      <th>Name</th>
                      <th class="hidden-phone">Department</th>
                      <th class="hidden-phone">Credit</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="course : ${courses}">
                      <td>
                        <a th:href="'/courses/' + ${course.ID}" th:text="${course.ID}">ID</a>
                      </td>
                      <td>
                        <a th:href="'/courses/' + ${course.ID}" th:text="${course.title}">Name</a>
                      </td>
                      <td class="hidden-phone" th:text="${course.departmentName}">Department</td>
                      <td class="hidden-phone" th:text="${course.credits}">credit</td>
                      <td>
                        <a th:href="'/courses/edit/' + ${course.ID}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a th:href="'/courses/delete/' + ${course.ID}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
              <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
          </div>
          <!-- /row -->
       
      </section>
    </section>
    <!-- /MAIN CONTENT -->
    <div th:replace="/fragments/footer :: footer"></div>
    <!--main content end-->
  </section>

  <div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>
