<aside th:fragment="aside">
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">Sam Soffes</h5>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Student</span>
            </a>
          <ul class="sub">
            <li><a href="/students/create">Create new</a></li>
            <li><a href="/students/">View all</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Courses</span>
            </a>
          <ul class="sub">
            <li><a href="/courses/create">create new </a></li>
            <li><a href="/courses/">View all</a></li>
          </ul>
        </li>
       
       
   
      </ul>
    </div>
  </aside>
