<!DOCTYPE html>
<html lang="en">

  <head th:replace="/fragments/head :: head"></head>

<body>
  <section id="container">
        <div th:replace="/fragments/header :: header"></div>
        <div th:replace="/fragments/aside :: aside"></div>

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Student</h3>
        <!-- BASIC FORM VALIDATION -->
        <div class="row mt">
          <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i> Create Student</h4>
            <div class="form-panel">
              <form role="form" class="form-horizontal style-form" method="post" action="/students/">
                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">ID</label>
                  <div class="col-lg-10">
                    <input type="text" name="ID" id="ID" class="form-control">
                  </div>
                </div>

                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Full Name</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="" name="name" id="name" class="form-control">
                  </div>
                  
                </div>

                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Department</label>
                  <div class="col-lg-10">
                    <select name="departmentName" class="form-control" id="">
                      <option th:each="department : ${departments}" th:value="${department}" th:text="${department}">Select Department</option>
                    </select>
                  </div>
                  
                </div>

                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Total Credit Houre</label>
                  <div class="col-lg-10">
                    <input type="text" name="totalCerdit" id="totalCerdit" class="form-control">
                  </div>
                  
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- /row -->          
          <!-- /col-lg-12 -->
        </div>
     
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <div th:replace="/fragments/footer :: footer"></div>
    <!--main content end-->
  </section>

  <div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>
